*{
    margin: 0;

}

html {
   
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-rows: 10px auto 10px;


}

body{
    margin: 0;
    padding: 0;
    border: 0;
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:2 ;
    grid-row-end:3 ;
}

.wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}

.header{
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery{
    height: 100%;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 11;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

img{
    height: 100px;
    width: 100px;

}

button{

}

.button-backward{
    size: 50px;
    position: absolute;
    top: 785px;
    left: 90px;

}

.button-forward{
    size: 50px;
    position: absolute;
    top: 785px;
    left: 260px;

}

.searchfield{
    margin: 5px;

}

h1{
    margin: 5px;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.favorites-link{
    position: absolute;
    top: 20px;
    left: 290px;
}